/* Global site styles */

html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fbfbf9 /* change this */
  color: #e5e7eb;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}
